/packages
/.vs
/RFiDGear/bin
/RFiDGear/obj
/RFiDGear/Mifare_4k_1_57.jpg
/RFiDGear/mvvmdialogsample.txt
/RFiDGearBundleSetup
/Setup/bin
/Setup/obj
*.pdf
*.xml
*.zip
*.htm
*.txt
/RFiDGear.Tests/obj
/RFiDGear.Tests/bin
