/packages
/.vs
/RFiDGear/bin
/RFiDGear/obj
/RFiDGear/Mifare_4k_1_57.jpg
/RFiDGear/mvvmdialogsample.txt
/RFiDGearBundleSetup
/Setup/bin
/Setup/obj
*.pdf
*.xml
*.zip
*.htm
*.txt
/RFiDGear.Tests/obj
/RFiDGear.Tests/bin
/RFiDGearSetup/RFiDGear_Setup_x64/obj
/RFiDGearSetup/RFiDGear_Setup_x64/obj
/RFiDGearSetup/RFiDGear_Setup_x86/obj
/RFiDGearSetup/RFiDGear_Setup_x64/obj
/VCNEditor/bin
/VCNEditor/obj
/RFiDGear.DesfirePluginSample/bin
/RFiDGear.DesfirePluginSample/obj
/RFiDGear.Extensions/DesfirePluginSample/obj
/RFiDGear.Extensions/DesfirePluginSample/bin
/RFiDGearBundleSetup/RFiDGearBundleSetup.wixproj
/RFiDGear.Extensions/VCNEditor/
/RFiDGearSetup/RFiDGear_Setup_x64/bin
/RFiDGearSetup/RFiDGear_Setup_x86/bin
