<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<?define VersionNumber="!(bind.packageVersion.MainPackage)" ?>
	
	<?define UpgradeCode="a34bc413-e349-4fd1-8b90-32f95a333436" ?>
	<?define NetFx451MinRelease = 378675 ?>
	<!-- The URL for add/remove programs -->
	<?define InfoURL="https://github.com/c3rebro" ?>
	<?define Leosac_ProgramDataDir = "C:\Program Files\LibLogicalAccess\LibLogicalAccess" ?>
	<!-- 32-bit / 64-bit variables -->
	<?if $(var.Platform) = x64 ?>
	<?define Win64 = "yes" ?>
	<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
	<?define RFiDGearExeSourcePath = "$(var.ProjectDir)..\RFiDGear\bin\Release\RFiDGear.exe" ?>
	<?define Leosac_RegistrySearch_Value = "C:\Program Files\Common Files\ISLOG\LibLogicalAccess\1.87.3.0214\liblogicalaccess.com.dll" ?>
	<?else ?>
	<?define Win64 = "no" ?>
	<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
	<?define RFiDGearExeSourcePath = "$(var.ProjectDir)..\RFiDGear\bin\Release\RFiDGear.exe" ?>
	<?define Leosac_RegistrySearch_Value = "C:\Program Files (x86)\Common Files\ISLOG\LibLogicalAccess\1.87.3.0214\liblogicalaccess.com.dll" ?>
	<?endif ?>
	
	<Bundle Name="$(var.RFiDGear.ProjectName)" Version="$(var.VersionNumber)" Manufacturer="Messgeraetetechnik Hansen" UpgradeCode="$(var.UpgradeCode)" Copyright="Messgeraetetechnik Hansen 2024" IconSourceFile="$(var.RFiDGear.ProjectDir)Resources\logo.ico" AboutUrl="https://github.com/c3rebro">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
			<bal:WixStandardBootstrapperApplication LicenseFile="$(var.RFiDGear.ProjectDir)Resources\gpl_v3_license.rtf" LogoFile="setuplogo.ico" ThemeFile="rtftheme.xml"/>
		</BootstrapperApplicationRef>
		
		<util:RegistrySearch Root="HKCR" Value="Version" Key="Installer\Products\F40294B16123E614B8A8CA3B77720AD4" Result="value" Win64="yes" Variable="LibLogicalAccess_3_1_0_x64" />
		<util:RegistrySearch Root="HKCR" Value="Version" Key="Installer\Products\F40294B16123E614B8A8CA3B77720AD4" Result="value" Win64="no" Variable="LibLogicalAccess_3_1_0_x86" />
		
		<Chain>
			<!-- Microsoft Visual C++ 2010 x86 libraries -->
			<ExePackage
				Cache="no"
				Compressed="yes"
				PerMachine="yes"
				Permanent="yes"
				Vital="yes"
				Name="vcredist_x86_2010_SP1.exe"
				SourceFile="vcredist_x86_2010_SP1.exe"
				InstallCommand="/install /quiet /norestart">
				
				<!-- -->
				<ExitCode Value="3010" Behavior="forceReboot"/>
				
				<!-- Ignore "Newer version installed" error -->
				<ExitCode Value="1638" Behavior="success"/>
			</ExePackage>
			
			<!-- Microsoft Visual C++ 2010 x64 libraries -->
			<ExePackage
				Cache="no"
				Compressed="yes"
				PerMachine="yes"
				Permanent="yes"
				Vital="yes"
				Name="vcredist_x64_2010_SP1.exe"
				SourceFile="vcredist_x64_2010_SP1.exe"
				InstallCommand="/install /quiet /norestart">
				
				<!-- -->
				<ExitCode Value="3010" Behavior="forceReboot"/>
				
				<!-- Ignore "Newer version installed" error -->
				<ExitCode Value="1638" Behavior="success"/>
			</ExePackage>
			
			<!-- Microsoft Visual C++ 2013 x32 libraries -->
			<ExePackage
				Cache="no"
				Compressed="yes"
				PerMachine="yes"
				Permanent="yes"
				Vital="yes"
				Name="vcredist_x86.exe"
				SourceFile="vcredist_x86.exe"
				InstallCommand="/install /quiet /norestart">
				
				<!-- -->
				<ExitCode Value="3010" Behavior="forceReboot"/>
				
				<!-- Ignore "Newer version installed" error -->
				<ExitCode Value="1638" Behavior="success"/>
			</ExePackage>
			
			<!-- Microsoft Visual C++ 2013 x64 libraries -->
			<ExePackage
				Cache="no"
				Compressed="yes"
				PerMachine="yes"
				Permanent="yes"
				Vital="yes"
				Name="vcredist_x64.exe"
				SourceFile="vcredist_x64.exe"
				InstallCommand="/install /quiet /norestart">
				
				<!-- -->
				<ExitCode Value="3010" Behavior="forceReboot"/>
				
				<!-- Ignore "Newer version installed" error -->
				<ExitCode Value="1638" Behavior="success"/>
			</ExePackage>
			<!--
			<RollbackBoundary />
			<PackageGroupRef Id="NetFx452Redist" />
			-->
			<RollbackBoundary />
      <MsiPackage Id="LEOSAC" Cache="no" Compressed="yes" Vital="yes"
			            SourceFile="LibLogicalAccess.Setup-x86.msi"
			            InstallCondition="(VersionNT &gt; v6.0 ) AND (NOT (LibLogicalAccess_3_1_0_x86 &gt; 50397184))" 
                  DisplayName="LibLogicalAccess" 
                  />
      <MsiPackage Id="LEOSACx64" Cache="no" Compressed="yes" Vital="yes"
            SourceFile="LibLogicalAccess.Setup-x64.msi"
            InstallCondition="(VersionNT64 &gt; v6.0) AND (NOT (LibLogicalAccess_3_1_0_x64 &gt; 50397184))"
            DisplayName="LibLogicalAccess"
                  />
			<RollbackBoundary />
      <!--
      			<ExePackage Id="LEOSAC" Cache="no" Compressed="yes" PerMachine="yes" Vital="yes"
			            SourceFile="LibLogicalAccess.Setup-x86.msi"
			            DetectCondition="(LibLogicalAccess_3_1_0_x86 &gt; 50397184)"
			            InstallCondition="(VersionNT &gt; v6.0 ) AND (NOT (LibLogicalAccess_3_1_0_x86 &gt; 50397184))" 
                  DisplayName="LibLogicalAccess" 
                  />
      -->
      <!--DetectCondition="(LibLogicalAccess_1_87x64 &gt; 22478847 OR LibLogicalAccess_1_87x32 &gt; 22478847)"-->
      <!--InstallCommand="/q"-->
			<MsiPackage Id="MainPackage" SourceFile="$(var.Setup.ProjectDir)bin\Release\en-us\Setup.msi" Cache="no" Compressed="yes" Vital="yes" />
		</Chain>
		
		<!--
    <PayloadGroup Id="NetFx452RedistPayload">
			<Payload Name="redist\NDP452-KB2901907-x86-x64-AllOS-ENU.exe"
			         SourceFile="NDP452-KB2901907-x86-x64-AllOS-ENU.exe"/>
		</PayloadGroup>	
    -->
	
	</Bundle>
</Wix>